:root{
    --blue: #0070d1;
    --bg-grey:#1f1f1f;
    --light-grey:#bebcbb;
    --bg-dark-blue:#161c3b;
    --footer-blue:#00439c;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    overflow-x: hidden;
}
#logo-sony{
    height:25px;
    width: 100px; 
}

.hero{
    background-image: url(./img/jumbo-bg.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
h1{
    font-size: 36px;
}
.sr-margin-hero{
    margin-top: 200px;
}

#showcase h5{
 color: var(--blue);
}

.hero2{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

#new-release {
    background-color: var(--bg-grey);
}

#play-plus{
    background-color: var(--light-grey);
}

#play-now{
    background-color: var(--bg-dark-blue);
}

.sr-max-widht{
    max-width: 200px;
}

footer{
    background-color: var(--footer-blue);
}

ul{
    list-style: none;
}

.dropdown-menu{
    width: 100%;
    
}
.dropdown-menu[data-bs-popper]{
    margin-top: -1px;
    border: 0;
    border-radius: 0;
}
.nav-item.dropdown{
    position: static;
}
.dropdown-item{
    width: 30%;
}

.sr_btn_buy{
    background-color: #cd3d0f;
    color: whitesmoke;
}

.sr_btn_buy:hover{
    outline: 3px solid ;
    outline-color: #cd3d0f;
    border:1px solid #1f1f1f;
    background-color: #cd3d0f;
}
.btn-primary:hover{
    outline: 3px solid ;
    outline-color: #0d6efd;
    border:1px solid white;
    background-color: #0d6efd;
}
.sr_btn_plus{
    background-color:#d9dadc;
    color: var(--blue);
    border-color:#d9dadc;
}
.sr_btn_now{
    background-color: whitesmoke;
    color: #1f1f1f;
    border-color: whitesmoke;
}
.sr_outline{
    padding: 2px;
    outline: 2px solid white;
}

.sr_outline:hover{
    outline-color: #0d6efd;
}

.sr_animation_up{
    transition: 1s;
}

.sr_animation_up:hover{
    transform: translateY(-20px);
}

.dropdown-toggle.show::after{
    transform: rotate(-180deg);
}
/* 
+++++++++++++++++++++++++++++
+++++++++Animazioni++++++++++
+++++++++++++++++++++++++++++ */

