:root{
    --blue: #0070d1;
    --bg-grey:#1f1f1f;
    --light-grey:#bebcbb;
    --bg-dark-blue:#161c3b;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
#logo-sony{
    height:25px; 
}

.hero{
    background-image: url(./img/jumbo-bg.png);
    height: 600px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position:center;
}
h1{
    font-size: 36px;
}
.sr-margin-hero{
    margin-top: 200px;
}

#showcase h5{
 color: var(--blue);
}